.App {
  font-family: sans-serif;
  height: 300vh;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

/* header css */

.mainHeader {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 20px;
  background-color: black;
  color: white;
  font-size: 15px;
  font-weight: 600;
  position: fixed;
  z-index: 3;
}
.mainHeaderLogo img {
  width: 70px;
  height: auto;
}

.mainHeaderMenu {
  margin-left: 110px;
  font-size: large;
}

.mainHeaderMenu span a {
  text-decoration: none;
  color: white;
  margin-right: 60px;
}

.mainHeaderButton span {
  padding: 27px;
  position: absolute;
  right: 0px;
  top: 0px;
  width: 20%;
  background-color: brown;
  text-align: center;
  font-size: x-large;
}

/* 캐러셀 css */
.moveSoft {
  transition: all 1s;
}
.slideContainer {
  position: relative;
  overflow: hidden;
  padding-bottom: 5px;
  background-color: rgb(242, 242, 242);
}
.slideBoxes {
  width: 200vw;
  display: flex;
}
.slideBox {
  width: 100vw;
}
.slideBox img {
  width: 100%;
  height: 600px;
}
.slideBoxButton {
  display: flex;
  align-items: center;
}
.slideBoxButton button {
  color: rgba(0, 0, 0, 0.9);
  border: none;
  font-size: 15px;
  font-weight: 600;
  background-color: rgb(242, 242, 242);
}
.slideBoxButton button:first-child,
.slideBoxButton button:nth-child(2) {
  padding: 10px;
  width: 50%;
  text-align: center;
}
.slideBoxButton button:nth-child(2) {
  margin-right: 100px;
}
.slideBoxButton button:nth-child(3),
.slideBoxButton button:last-child {
  text-align: right;
  margin-left: 20px;
}
.slideBoxButton button:last-child {
  margin-right: 100px;
}

/* main contents */
.mainContents {
  padding: 10px 100px;
  display: flex;
}
.gameUpdate {
  width: 40%;
}
.gameUpateTitle {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.gameUpdateText {
  width: 100%;
}
.gameUpdateTexts {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding: 15px 0px;
  font-weight: 600;
  font-size: 15px;
}
.gameUpdateTexts span {
  color: rgba(0, 0, 0, 0.5);
}
.gameVideo {
  width: 60%;
  margin-left: 70px;
}
.gameVideoTitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.gameVideoYoutube {
  width: 60%;
  display: flex;
}
.play1 {
  margin-right: 5px;
}
.play2 {
  display: flex;
  flex-direction: column;
}
.play2 iframe {
  margin-bottom: 5px;
}
