.mainHeader {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 20px;
  background-color: black;
  color: white;
  font-size: 15px;
  font-weight: 600;
  position: fixed;
  z-index: 3;
}
.mainHeaderLogo img {
  width: 70px;
  height: auto;
}

.mainHeaderMenu {
  margin-left: 110px;
  font-size: large;
}

.mainHeaderMenu span a {
  text-decoration: none;
  color: white;
  margin-right: 60px;
}

.mainHeaderButton span {
  padding: 27px;
  position: absolute;
  right: 0px;
  top: 0px;
  width: 20%;
  background-color: brown;
  text-align: center;
  font-size: x-large;
}
